---
const platform = "github"; 
const userName = "ivan-kan"; 
---

<footer>
    <p>
        Learn more about my porject on 
        <a href=`https://www.${platform}.com/${userName}` target="_blank">
            {platform}
        </a>
    </p>
</footer>