---
import Navigation from "./Navigation.astro"
---
<!-- <header> represents a container for the intro section or header -->
<!-- <nav> contains the naviation links at the top of the page, containing all <a> -->

<header>
    <nav>
        <Navigation />
    </nav>
</header>