---
import Navigation from "./Navigation.astro"
import Hamburger from "./Hamburger.astro"
import ThemeIcon from "./ThemeIcon.astro"
---
<!-- <header> represents a container for the intro section or header -->
<!-- <nav> contains the naviation links at the top of the page, containing all <a> -->

<header>
    <nav>
        <Hamburger />
        <ThemeIcon />
        <Navigation />
    </nav>
</header>